#formContainer {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  max-width: 60%;
}

#loginBtnContainer {
  display: flex;
  justify-content: center;
}
